* {
  margin: 0px;
  padding: 0px;
  background-color: #000;
  color: white;
}

body {
  height: 100vh;
}

.App {
  text-align: center;
}

.card-grid {
  width: 50vw;
  margin: 0px auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

h1 {
  margin: 20px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  background-color: burlywood;
}

button:hover {
  background-color: blueviolet;
  color: #ffffff;
  cursor: pointer;
}

p {
  margin: 20px;
  font-size: 18px;
}
